body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
    color: #333;
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;
}
header {

    background-color: #CD5C08;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    height: 15vh;
    padding-left:0.5vw;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}
main {
    padding: 2em;

}
form {
    background-color: #FFF5E4;
    padding: 1em;
    border-radius: 5px;
    border: #FFF5E4 solid 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
}
form label {
    display: block;
    margin-bottom: 0.5em;
}
form input, form textarea, form button {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    background-color: #C1D8C3;
    color: white;
    border: none;
    cursor: pointer;
}
form button:hover {
    background-color: #45a049;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 0.5em;
    text-align: left;
}
tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}
tbody tr:hover {
    background-color: #f1f1f1;
}
footer{
    background-color: #6A9C89;
    justify-items: center;
}
@media (max-width: 600px) {
    main {
        padding: 1em;
    }
    form, table {
        width: 100%;
        margin-bottom: 1em;
    }
}
