:root {
    --spacing: 2vw;
}

body {
    background-color: #f0f0f0;
    color: #333;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing);
    background-color: #007bff;
    color: white;
}

nav a {
    margin: 0 var(--spacing);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing);
    padding: var(--spacing);
}

section {
    background-color: white;
    padding: var(--spacing);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 2vh;
}

input, select, button {
    padding: var(--spacing);
    margin-bottom: var(--spacing);
    border-radius: 4px;
    border: 1px solid #ccc;
}

input:focus, select:focus {
    border-color: #007bff;
    outline: none;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

li{
    margin-top: 1vh;
}
img{
    height: 5vh;
    width: 3vw;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
    }
}
